* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

.main__screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  border: none;
  background-color: rgba(243, 236, 236, 0.571);
  box-shadow: rgba(0, 0, 0, 0.744) 3px 2px 2px;
  padding: 0 5vw;
  gap: 3vh;
  margin-top: 5vh;
}

li {
  margin: 2vh 0;
}

.prompt {
  padding: 1vh 1vw;
  border-radius: 25px;
  outline: none;
  border: none;
  box-shadow: black 1px 1px;
}

.todo {
  animation: zoom_in 750ms linear;
}

.done {
  animation: slide_left 750ms linear;
}

@keyframes zoom_in {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide_left {
  0% {
    transform: translateX(-6vw);
  }
  100% {
    transform: translateX(0);
  }
}
