* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

.main__screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  border: none;
  background-color: rgba(243, 236, 236, 0.571);
  box-shadow: rgba(0, 0, 0, 0.744) 3px 2px 2px;
  padding: 0 5vw;
  gap: 3vh;
  margin-top: 5vh;
}

li {
  margin: 2vh 0;
}

.todo__input {
  padding: 1vh 1vw;
  border-radius: 25px;
  outline: none;
  border: none;
  box-shadow: black 1px 1px;
}
